{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>답글달기</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/write.css' %}">
</head>
<body>
<section>
    <h1>답글달기</h1>
    <hr>
    <form action="{% url 'board:breplyOk' %}" name="reply" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
      <input type="hidden" name="b_no" value="{{board.b_no}}">
      <input type="hidden" name="b_group" value="{{board.b_group}}">
      <input type="hidden" name="b_step" value="{{board.b_step}}">
      <input type="hidden" name="b_indent" value="{{board.b_indent}}">
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>작성자</th>
          <td>
            <input type="text" name="id" value="{{request.session.session_id}}""   readonly>
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="title" value="<답변>{{board.b_title}} ">
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
<textarea name="content" cols="50" rows="10">

---------------------------
[답글]
{{board.b_content}}
</textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="img" id="file">
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="submit" class="write">답변완료</button>
        <button type="button" class="cancel" onclick="javascript:location.href='list.do'">취소</button>
      </div>
    </form>

  </section>

</body>
</html>