{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>뷰페이지</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/read.css' %}">
  <script>
      function deleteBtn(){
         if(confirm("게시글을 삭제하시겠습니까?")){
            location.href="{% url 'board:bdelete' board.b_no %}"
         }
      }
  </script>
</head>
<body>
<section>
    <h1>NOTICE</h1>

    <table>
      <colgroup>
        <col width="80%">
        <col width="10%">
        <col width="10%">
        
      </colgroup>
      <tr>
        <th colspan="3">제목</th>
      </tr>
      <tr>
        <td colspan="3"><strong>{{board.b_title}}</strong></td>
      </tr>
      <tr>
        <td>{{board.member}}</td>
        <td>조회수</td>
        <td>{{board.b_hit}}</td>
      </tr>
      <tr>
        <td colspan="3" class="article">{{board.b_content}}</td>
      </tr>
      <tr>
        <td colspan="3"><strong>파일이름</strong></td>
      </tr>
      {% if board.b_img  %}
        <tr>
          <td colspan="3" class="article">
            <img src="{{board.b_img.url}}">        
          </td>
        </tr>
      {% endif %}
      <tr>
        <td colspan="3"><strong>다음글</strong> <span class="separator">|</span> [키즈잼] 2월 프로그램 안내</td>
      </tr>
      <tr>
        <td colspan="3"><strong>이전글</strong> <span class="separator">|</span> [키즈잼] 2020년 1분기 정기 휴관일 안내</td>
      </tr>
    </table>

    <a href="{% url 'board:blist' %}"><div class="list">목록</div></a>
    <a onclick="deleteBtn()"><div class="list">삭제</div></a>
    <a href="{% url 'board:bmodify' board.b_no %}"><div class="list">수정</div></a>
    <a href="{% url 'board:breply' board.b_no %}"><div class="list">답변달기</div></a>
  </section>
</body>
</html>