{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인 페이지</h2>
    <p>{{user_id}}님 입장하십니다.</p>
    <ul>
        <li><a href="/admin">관리자 페이지로 이동</a></li>
        <li><a href="{% url 'students:reg' %}">학생 등록 페이지로 이동</a></li>
        <li><a href="{% url 'students:regAll' %}">전체 학생 리스트로 이동</a></li>
        {% comment %} <li><a href="/students/regSearch">학생 조회 페이지로 이동</a></li> {% endcomment %}
    </ul>
    <br>
    <img src="{% static 'images/iu01.jpg'%}" alt="아이유01">
</body>
</html>