* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.hidden {
  display: none;
}

#clock {
  border: 1px solid red;
  font-size: 40px;
}

#greeting {
  border: 1px solid orange;
  font-size: 30px;
  font-weight: 500;
}

#todo-form {
  border: 1px solid yellow;
}

#todo-list {
  border: 1px solid yellowgreen;
}

#todo-list span {
  border: 1px solid green;
}

#todo-list button {
  margin-left: 5px;
}

#quote {
  border: 1px solid blue;
  font-size: 20px;
}

#weather {
  border: 1px solid blueviolet;
  font-size: 18px;
}

#loginButton {
  background-color: silver;
  border: none;
  color: white;
  padding: 10px 20px;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
