{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> JARDIN SHOP </title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="JARDIN SHOP" />
<meta name="keywords" content="JARDIN SHOP" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scaleable=no" />
<link rel="stylesheet" type="text/css" href="{% static '/css/css/reset.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/css/layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/css/content.css' %}" />
<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/top_navi.js' %}"></script>
<script type="text/javascript" src="{% static '/js/left_navi.js' %}"></script>
<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
<script type="text/javascript" src="{% static '/js/common.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static '/js/idangerous.swiper-2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.anchor.js' %}"></script>
<style>
	a{cursor: pointer;}
</style>
</head>
<body>

<div id="allwrap">
<div id="wrap">

	<div id="header">
		
		<div id="snbBox">
			<h1><img src="{% static '/images/images/txt/logo.gif' %}" alt="JARDIN SHOP" /></h1>
			<div id="quickmenu">
				<div id="mnaviOpen"><img src="{% static '/images/images/btn/btn_mnavi.gif' %}" width="33" height="31" alt="메뉴열기" /></div>
				<div id="mnaviClose"><img src="{% static '/images/images/btn/btn_mnavi_close.gif' %}" width="44" height="43" alt="메뉴닫기" /></div>
				<ul>
					<li><a href="#">EVENT</a></li>
					<li><a href="#">CUSTOMER</a></li>
					<li><a href="#">COMMUNITY</a></li>
				</ul>
			</div>
			<div id="snb">
				<ul>
					<li><a href="#">LOGIN</a></li>
					<li><a href="#">JOIN</a></li>
					<li><a href="#">MY PAGE</a></li>
					<li><a href="#">CART</a></li>
				</ul>

				<div id="search">
					<input type="text" class="searchType" />
					<input type="image" src="{% static '/images/images/btn/btn_main_search.gif' %}" width="23" height="20" alt="검색하기" />
				</div>
			</div>
		</div>
	</div>


	<!-- GNB -->
	<div id="gnb">
		
		<div id="top">
			<ul>
				<li class="brand t1"><a href="#" id="topNavi1">JARDIN’s BRAND</a>
					<ul id="topSubm1">
						<li><a href="#">클래스</a></li>
						<li><a href="#">홈스타일 카페모리</a></li>
						<li><a href="#">드립커피백</a></li>
						<li><a href="#">카페리얼 커피</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">카페리얼 음료</a></li>
						<li><a href="#">마일드커피백</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">카페포드</a></li>
						<li><a href="#">모히또파티</a></li>
						<li><a href="#">테이크아웃 카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi2">원두</a>
					<ul id="topSubm2">
						<li><a href="#">클래스</a></li>
						<li><a href="#">로스터리샵</a></li>
						<li><a href="#">커피휘엘</a></li>
						<li><a href="#">산지별 생두</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi3">원두커피백</a>
					<ul id="topSubm3">
						<li><a href="#">드립커피 로스트</a></li>
						<li><a href="#">오리지널커피백</a></li>
						<li><a href="#">마일드커피백</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi4">인스턴트</a>
					<ul id="topSubm4">
						<li><a href="#">까페모리</a></li>
						<li><a href="#">홈스타일카페모리</a></li>
						<li><a href="#">포타제</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi5">음료</a>
					<ul id="topSubm5">
						<li><a href="#">까페리얼</a></li>
						<li><a href="#">워터커피</a></li>
						<li><a href="#">모히또</a></li>
					</ul>
				</li>
				<li class="t2"><a href="#" id="topNavi6">커피용품</a>
					<ul id="topSubm6">
						<li><a href="#">종이컵</a></li>
						<li><a href="#">커피필터</a></li>
						<li><a href="#">머신 등</a></li>
					</ul>
				</li>
				<li class="t1"><a href="#" id="topNavi7">선물세트</a></li>
				<li class="t2"><a href="#" id="topNavi8">대량구매</a></li>
			</ul>
		</div>

		<script type="text/javascript">initTopMenu();</script>
	</div>
	<!-- //GNB -->

	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">EVENT</a></li>
				<li class="last">진행중 이벤트</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">EVENT<span>이벤트</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">진행중 이벤트</a></li>
					<li><a href="#" id="leftNavi2">종료된 이벤트</a></li>
					<li class="last"><a href="#" id="leftNavi3">당첨자 발표</span></a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="mypage">
					<h2><strong>진행중 이벤트</strong><span>쟈뎅샵의 특별한 혜택이 가득한 이벤트에 참여해 보세요.</span></h2>
					
					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li>까페모리 봄바람 커피한잔 30% 할인 이벤트!!</li>
								</ul>
							</div>
							<div class="day">
								<p class="txt">이벤트 기간<span>2014-04-01 ~ 2014-04-29</span></p>
							</div>
						</div>

						<div class="viewContents">
							<img src="{% static '/images/images/img/sample_event_view.jpg' %}" alt="" />
						</div>
					</div>


					<!-- 이전다음글 -->
					<div class="pnDiv web">
						<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
							<caption>이전다음글</caption>
							<colgroup>
							<col width="100px" />
							<col width="*" />
							<col width="100px" />
							</colgroup>
							<tbody>
								<tr>
									<th class="pre">PREV</th>
									<td><a href="#">상품 재입고는 언제 되나요?</a></td>
									<td>&nbsp;</td>
								</tr>

								<tr>
									<th class="next">NEXT</th>
									<td>다음 글이 없습니다.</td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //이전다음글 -->

					<script>
						//jQuery선언
						$(function(){
							//댓글list 가져오는 ajax
							$.ajax({
								url:"{% url 'board:comlist' %}",
								type:"GET",
								data:{ 'b_no':{{b_no}} },
								dataType:"json",
								success:function(data){
									// for문으로 댓글을 data_html저장해서 html소스 넣기
									//alert("성공")
									var data_html=""
									for ( var i in data){
										data_html += '<ul id='+data[i].c_no +'>'
										data_html += '<li class="name">'+data[i].member_id+'<span>['+data[i].c_date+']</span></li>'
										// 로그인 아이디와 게시글 아이디가 같은지 비교
										if( '{{request.session.session_id}}'!=data[i].member_id){
											// 게시글 비번이 있는지 확인
											if(data[i].c_pw ==""){
												data_html += '<li class="txt">'+data[i].c_content+'</li>'
											}else{
												data_html += '<li class="txt">'
												data_html += '<a class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>'
												data_html += '</li>'
											}
										}else{
											data_html += '<li class="txt">'+data[i].c_content+'</li>'
										}

										data_html += '<li class="btn">'
										// 함수 매개변수 타입 : commdeletebtn(19,'aaa','2022-02-21','bbb글을 등록합니다.')             	
										// 섹션id와 데이터id가 같은지 비교해서 다르면 수정,삭제 버튼을 보이지 않게 함.
										if( '{{request.session.session_id}}'==data[i].member_id){
											data_html += '<a onclick="commupdatebtn('+data[i].c_no +',\'' +data[i].member_id+'\',\''+data[i].c_date+ '\',\''+ data[i].c_content +'\')" class="rebtn">수정</a>'
											data_html += '<a onclick="commdeletebtn('+data[i].c_no +')" class="rebtn">삭제</a>'
										}
										data_html += '</li>'
										data_html += '</ul>'
									}
									$(".replyBox").html(data_html)
								},error:function(){
									alert("실패")
								}
							})
						}) //jQuery


						//수정창이 열려있는지 확인하는 변수
						var updateCheck=0
						//댓글수정입력창 생성
						function commupdatebtn(c_no,member_id,c_date,c_content){
							if(updateCheck==1){
								alert("수정창이 1개 열려 있습니다. \n 열려있는 창을 저장 또는 취소후 \n 수정이 가능합니다.")
								return false
							}
							
							updateCheck=1 //수정창이 열려있음
							alert("댓글수정 번호호출 : "+c_no)
							var data_html=''
							data_html += '<li class="name">'+member_id+'<span>['+c_date+']</span></li>'
							data_html += '<li class="txt"><textarea class="replyType">'+c_content+'</textarea></li>'
							data_html += '<li class="btn">'
							data_html += '<a onclick="commupdateokbtn('+c_no +')" class="rebtn">저장</a>'
							data_html += '<a onclick="commcancelbtn('+c_no +',\'' +member_id+'\',\''+c_date+ '\',\''+ c_content +'\')" class="rebtn">취소</a>'
							data_html += '</li>'
							$("#"+c_no).html(data_html)
						}

						//댓글수정 취소
						function commcancelbtn(c_no,member_id,c_date,c_content){
							updateCheck=0 //댓글수정가능
							alert("댓글수정취소 호출 : "+ c_no)

							var data_html=""
							data_html += '<li class="name">'+member_id+'<span>['+c_date+']</span></li>'
							data_html += '<li class="txt">'+c_content+'</li>'
							data_html += '<li class="btn">'
							data_html += '<a onclick="commupdatebtn('+c_no +',\'' +member_id+'\',\''+c_date+ '\',\''+ c_content +'\')" class="rebtn">수정</a>'
							data_html += '<a onclick="commdeletebtn('+c_no +')" class="rebtn">삭제</a>'
							data_html += '</li>'
							//html 모두 지운후 추가, prepend 처음에 추가, uppend 마지막 추가
							$("#"+c_no).html(data_html)

						}

						//댓글수정저장
						function commupdateokbtn(c_no){
							updateCheck=0 //댓글수정가능
							alert("댓글수정 번호호출 : "+c_no)

							$.ajax({
								url:'{% url "board:commupdateok" %}',
								type:'GET',
								// 기존c_content 내용을 input에 있는 replyType클래스 val()을 변경
								data:{ "c_no": c_no,"c_content":$("#"+c_no+" .replyType").val() },
								dataType:'json',
								success:function(data){
									alert(data)
									var data_html=""
									data_html += '<li class="name">'+data.member_id+'<span>['+data.c_date+']</span></li>'
									data_html += '<li class="txt">'+data.c_content+'</li>'
									data_html += '<li class="btn">'
									data_html += '<a onclick="commupdatebtn('+data.c_no +',\'' +data.member_id+'\',\''+data.c_date+ '\',\''+ data.c_content +'\')" class="rebtn">수정</a>'
									data_html += '<a onclick="commdeletebtn('+data.c_no +')" class="rebtn">삭제</a>'
									data_html += '</li>'
									//html 모두 지운후 추가, prepend 처음에 추가, uppend 마지막 추가
									$("#"+c_no).html(data_html)

								},
								error:function(){
									alert('수정저장 실패')
								}
							}) 


						}

						//댓글삭제
						function commdeletebtn(c_no){
							if(confirm("댓글을 삭제하시겠습니까?")){
								$.ajax({
									url:'{% url "board:commdelete" %}',
									type:'GET',
									data:{ "c_no": c_no },
									dataType:'json',
									success:function(data){
										alert(data.result)
										$('#'+c_no).remove()
									},
									error:function(){
										alert('댓글삭제 실패')
									}
								})
							}else{
								return false
							}
						}//댓글삭제

						// 댓글등록
						function commwriteBtn(){
							alert("등록호출")
							if($(".replyType").val().length<=2){
								alert("2글자 이상 입력하셔야 저장이 가능합니다.")
								return false
							}
							//alert("비밀번호 : "+$(".replynum").val())
							//alert("내용 : "+$(".replyType").val())
							$.ajax({
								url:'{% url "board:commwrite" %}',
								type:'GET',
								// 1.b_no,pw,content
								data:{"b_no":{{b_no}},"c_pw":$(".replynum").val(),"c_content":$(".replyType").val() },
								dataType:'json',
								success:function(data){
									var data_html=""
									data_html += '<ul id='+data.c_no +'>'
									data_html += '<li class="name">'+data.member_id+'<span>['+data.c_date+']</span></li>'
									data_html += '<li class="txt">'+data.c_content+'</li>'
									data_html += '<li class="btn">'
									data_html += '<a onclick="commupdatebtn('+data.c_no +',\'' +data.member_id+'\',\''+data.c_date+ '\',\''+ data.c_content +'\')" class="rebtn">수정</a>'
									data_html += '<a onclick="commdeletebtn('+data.c_no +')" class="rebtn">삭제</a>'
									data_html += '</li>'
									data_html += '</ul>'
									//html 모두 지운후 추가, prepend 처음에 추가, uppend 마지막 추가
									$(".replyBox").prepend(data_html)

									// 입력된 글자 삭제
									$(".replynum").val("")
									$(".replyType").val("")

								},
								error:function(){
									alert("실패")
								}
							})
							//ul댓글내용이 들어감.

						}

					</script>

					<!-- 댓글-->
					<div class="replyWrite">
						<ul>
							<li class="in">
								<p class="txt">총 <span class="orange">3</span> 개의 댓글이 달려있습니다.</p>
								<p class="password">비밀번호&nbsp;&nbsp;<input type="password" class="replynum" /></p>
								<textarea class="replyType"></textarea>
							</li>
							<li class="btn"><a onclick="commwriteBtn()" class="replyBtn">등록</a></li>
						</ul>
						<p class="ntic">※ 비밀번호를 입력하시면 댓글이 비밀글로 등록 됩니다.</p>
					</div>
					<!-- 댓글 추가 됨 -->
					<div class="replyBox">


					</div>
					<!--댓글수정입력창-->
					<!--
						<ul>
							<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
							<li class="txt"><textarea class="replyType"></textarea></li>
							<li class="btn">
								<a href="#" class="rebtn">수정</a>
								<a href="#" class="rebtn">삭제</a>
							</li>
						</ul>
					-->
					<!--댓글수정입력창 끝-->
					<!-- 비밀댓글 -->
						<!--

							<ul>
								<li class="name">jjabcde <span>[2014-03-04&nbsp;&nbsp;15:01:59]</span></li>
								<li class="txt">
									<a href="password.html" class="passwordBtn"><span class="orange">※ 비밀글입니다.</span></a>
								</li>
							</ul>
						-->
					<!-- 비밀댓글 끝-->
					<!-- //댓글 -->


					<!-- Btn Area -->
					<div class="btnArea">
						<div class="bRight">
							<ul>
								<li><a href="#" class="sbtnMini mw">목록</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->
					
				</div>
			</div>
			<!-- //contents -->


<script type="text/javascript" src="{% static '/js/jquery.fancybox-1.3.4.pack.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/css/jquery.fancybox-1.3.4.css' %}" />
<script type="text/javascript">
$(function(){
	
	var winWidth = $(window).width();
	if(winWidth > 767){
		var layerCheck = 540;
	}else{
		var layerCheck = 320;
	}

	$(".passwordBtn").fancybox({
		'autoDimensions'    : false,
		'showCloseButton'	: false,
		'width' : layerCheck,
		'padding' : 0,
		'type'			: 'iframe',
		'onComplete' : function() {
			$('#fancybox-frame').load(function() { // wait for frame to load and then gets it's height
			$('#fancybox-content').height($(this).contents().find('body').height());
			});
		}
	});


});
</script>

		</div>
	</div>
	<!-- //container -->




	<div id="footerWrap">
		<div id="footer">
			<div id="fnb">
				<ul>
					<li class="left"><a href="#">개인정보취급방침</a></li>
					<li><a href="#">이용약관</a></li>
					<li class="left"><a href="#">이메일무단수집거부</a></li>
					<li><a href="#">고객센터</a></li>
					<li class="left brand"><a href="#">쟈뎅 브랜드 사이트</a></li>
				</ul>
			</div>
			
			<div id="finfo">
				<div id="flogo"><img src="{% static '/images/images/txt/flogo.gif' %}" alt="JARDIN THE COFFEE CREATOR, SINCE 1984" /></div>
				<address>
					<ul>
						<li>㈜쟈뎅</li>
						<li>대표자 윤영노</li>
						<li class="tnone">주소 서울시 강남구 논현동 4-21번지 영 빌딩</li>
						<li class="webnone">소비자상담실 02)546-3881</li>
						<li>사업자등록번호 211-81-24727</li>
						<li class="tnone">통신판매신고 제 강남 – 1160호</li>
						<li class="copy">COPYRIGHT © 2014 JARDIN <span>ALL RIGHTS RESERVED.</span></li>
					</ul>
				</address>

				<div id="inicis"><img src="{% static '/images/images/ico/ico_inicis.png' %}" alt="이니시스 결제시스템" /></div>
			</div>
		</div>
	</div>



</div>
</div>
</body>
</html>