{% extends 'base.html' %}
{% load static %}  

{% block css-block %} 
  <link rel="stylesheet" href="{% static 'css/css2/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/css2/read.css' %}">
{% endblock css-block %} 

{% block content-block %}
    <h1>NOTICE</h1>

    <table>
      <tr>
        <th>[키즈잼] 2020년 이용 시간 & 이용 요금 변경 안내</th>
      </tr>
      <tr>
        <td>2019-12-11</td>
      </tr>
      <tr>
        <td class="article">
          <img src="https://www.midashotel.co.kr/Midas_uploads/2019-12-11%2017-13-142020%EB%85%84_%ED%82%A4%EC%A6%88%EC%9E%BC_%EB%B3%80%EA%B2%BD%EC%82%AC%ED%95%AD_%EC%95%88%EB%82%B4.jpg" alt="" width="80%"></td>
      </tr>
      <tr>
        <td><strong>다음글</strong> <span class="separator">|</span> [키즈잼] 2월 프로그램 안내</td>
      </tr>
      <tr>
        <td><strong>이전글</strong> <span class="separator">|</span> [키즈잼] 2020년 1분기 정기 휴관일 안내</td>
      </tr>
    </table>

    <div class="list">목록</div>
    <div class="list">삭제</div>
    <div class="list">수정</div>
{% endblock content-block %}    
