{% extends 'base.html' %}
{% load static %}  

{% block css-block %} 
  <link rel="stylesheet" href="{% static 'css/css2/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/css2/notice_list.css' %}">
{% endblock css-block %} 


{% block content-block %}
<h1>NOTICE</h1>
<div class="wrapper">
  <form action="/search" name="search" method="post">
    <select name="category" id="category">
      <option value="0">전체</option>
      <option value="title">제목</option>
      <option value="content">내용</option>
    </select>
    
    <div class="title">
      <input type="text" size="16">
    </div>
    
    <button type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>

<table>
  <colgroup>
    <col width="18%">
    <col width="60%">
    <col width="18%">
  </colgroup>
  <tr>
    <th>No.</th>
    <th>제목</th>
    <th>작성일</th>
  </tr>
  <tr>
    <td><span class="table-notice">NOTICE</span></td>
    <td class="table-title">신종코로나바이러스 예방관련 운영 안내</td>
    <td>2020-02-28</td>
  </tr>
  <tr>
    <td><span class="table-notice">NOTICE</span></td>
    <td class="table-title">[2020년3월] 시설 정비 공사 안내</td>
    <td>2020-02-28</td>
  </tr>
  <tr>
    <td><span class="table-notice">NOTICE</span></td>
    <td class="table-title">[키즈잼] 2020년 이용 시간 & 이용 요금 변경 안내</td>
    <td>2019-12-11</td>
  </tr>
  <tr>
    <td><span class="table-notice">NOTICE</span></td>
    <td class="table-title">[키즈잼] 2020년 1분기 정기 휴관일 안내</td>
    <td>2019-12-11</td>
  </tr>
  <tr>
    <td><span class="table-notice">NOTICE</span></td>
    <td class="table-title">홈페이지 개인정보 보안 강화</td>
    <td>2018-11-14</td>
  </tr>
      <tr>
        <td>5</td>
        <td class="table-title">[키즈잼] 3월 프로그램 안내</td>
        <td>2020-02-18</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="table-title">[키즈잼] 2월 프로그램 안내</td>
        <td>2020-01-17</td>
      </tr>
      <tr>
        <td>3</td>
        <td class="table-title">마이다스 멤버쉽 안내</td>
        <td>2019-05-08</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="table-title">[마이다스 호텔&리조트] 제23회 경기건축문화 금상 수상</td>
        <td>2018-10-10</td>
      </tr>
      <tr>
        <td>1</td>
        <td class="table-title">카카오플러스 친구 오픈</td>
        <td>2018-07-11</td>
      </tr>
    </table>
    
    <ul class="page-num">
      <li class="first"></li>
      <li class="prev"></li>
      <li class="num">
        <div>1</div>
      </li>
      <li class="next"></li>
      <li class="last"></li>
    </ul>
    
    <div class="write">쓰기</div>
{% endblock content-block %}