* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
  /* border: 1px solid red; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#topLogo {
  margin: 0 auto 0 10%;
  background: rosybrown;
  border-bottom: 8px solid lightgray;
}

#topLogo > a {
  color: #fff;
}

.topMenu {
  width: 100%;
  height: 150px;
  background: #fff;
  /* border: 3px solid violet; */
  line-height: 80px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.topMenu > ul > li {
  float: left;
  width: 20%;
  position: relative;
}

.topMenu > ul > li:hover {
  border-bottom: 8px solid rosybrown;
}

.topMenu > ul > li > a {
  font-size: 24px;
}

/* .colorMenu {
        background: white;
    }
    
    .clicked {
        background: rosybrown;
    } */

.topMenu > ul > li > ul {
  width: 100%;
  display: none;
  position: absolute;
  font-size: 12px;
  background: rosybrown;
}

.topMenu > ul > li:hover > ul {
  display: block;
}

.topMenu > ul > li > ul > li > a {
  font-size: 18px;
  color: #fff;
}

.topMenu > ul > li > ul > li:hover > a {
  color: #fff;
  font-size: 20px;
}

.topMenu > ul > li > ul > li:hover {
  border-left: 10px solid lightgray;
  /* background: lightgray; */
  transition: ease 0.2s;
}

#wrapper {
  height: 100%;
  min-height: 100%;
  /* border: 3px solid blue; */
  /* padding-bottom: 150px; */
}

.main {
  padding: 50px 0 50px 0;
  margin-top: 150px;
  height: 100%;
  /* border: 3px solid green; */
  /* padding-bottom: 150px; */
}


/* 메인페이지 컨텐츠 */
#mainContent {
  width: 1400px;
  height: 800px;
  margin: 0 auto;
  padding-top: 100px;
  color: #fff;
  background: url(../images/covid20.jpg) no-repeat;
}

h1,
h2,
p {
  width: 900px;
  margin-left: 100px;
  margin-bottom: 40px;
  text-align: left;
}

#title {
  font-size: 40px;
}

#subTitle {
  font-size: 20px;
}

#ppp {
  font-size: 20px;
}

footer {
  width: 100%;
  height: 150px;
  position: relative;
  bottom: 0;
  /* left: 0; */
  background: lightgray;
  transform: translateY(0%);
  margin-top: 30px;
  /* border: 1px solid blue; */
}

.logo {
  float: left;
  width: 200px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  padding-top: 35px;
  margin-top: 22px;
  margin-left: 15%;
  background: silver;
}

.spanbox {
  /* border: 1px solid red; */
  /* width: 300px; */
  float: left;
  margin: auto 0 auto 5%;
  margin-top: 35px;
}

