<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        <li><a href="{% url 'board:blist' %}">게시판리스트</a></li>
        <li><a href="/admin">관리자페이지</a></li>
        <li><a href="{% url 'member:login' %}">로그인</a></li>
        <li>로그아웃</li>
        <li>회원정보리스트</li>
    </ul>
</body>
</html>