{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covidiamond</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% block head-block %} 
    {% endblock head-block %}
</head>

<body>
    {% comment %} <div> {% endcomment %}
        <header>
            {% comment %} <div> {% endcomment %}
                <nav class="topMenu">
                    <ul>
                        <li id="topLogo"><a href="{% url 'main' %}">Covidiamond</a></li>
                        <li class="colorMenu"><a href="{% url 'seoul:sview' %}">Seoul</a></li>
                        <li class="colorMenu"><a href="{% url 'fin:fview' %}">Finance</a></li>
                        <li class="colorMenu"><a href="#">Boards</a>
                            <ul>
                                <li><a href="{% url 'news:nlist' %}">n e w s</a></li>
                                <li><a href="{% url 'board:blist' %}">n o t i c e</a></li>
                                {% comment %} <li><a href="#">sc Board</a></li> {% endcomment %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% comment %} </div> {% endcomment %}
        </header>

        <div id="wrapper">
            <div class="main">
                <!--메인페이지 필드-->
                {% block main-block %} 
                {% endblock main-block %}
        
                <!--재욱 필드-->
                {% block jw-block %} 
                {% endblock jw-block %}
        
                <!--혜정 필드-->
                {% block hj-block %} 
                {% endblock hj-block %}
        
                <!--서울 필드-->
                {% block seoul-block %} 
                {% endblock seoul-block %}
        
                <!--주식 필드-->
                {% block fin-block %} 
                {% endblock fin-block %}
            </div>
            
            <footer>
                <div class="container">
                    <div class="logo">
                        <a>(주)황제</a>
                    </div>
                    <span class="spanbox">
                        <div>Web | 김재욱 박혜정 유승찬</div>
                        <div>Seoul | 이승채 최하진</div>
                        <div>Finance | 강나래 김수찬</div>
                    </span>
                    <span class="spanbox">
                        <div>08390 서울 구로구 디지털로26길 111</div>
                        <div>서울디지털인재개발원</div>
                        <div>02) 581 - 2293 </div>
                    </span>
                    <span class="spanbox">
                        <div>Copyright ⒞ 2022.</div>
                        <div>Covid Emperor & Covidiamond Inc.</div>
                        <div>All Rights Reserved.</div>
                    </span>
                </div>
            </footer>
        </div>
    {% comment %} </div> {% endcomment %}
    
</body>
</html>