{% extends 'base.html' %}
{% load static %}


{% block head-block %} 
{% endblock head-block %}

<!--요기 아래 블럭 속에 쓰면 메인 홈페이지에 바로 나옴-->
{% block main-block %} 
    <div id="mainContent">
        <h1>Covidiamond</h1>
        <h2>찬란히 빛나는 삶을 위하여</h2>
        <p id="ppp">(주)황제는 2022년 서울디지털인재개발원에서 시작된 그룹으로<br/>
        서울시 행정 자치구 별 코로나 백신 접종과 확진 비율을 살펴보고<br/>
        이상 결과를 보이는 구의 원인에 대해 분석하고자 하였으며,<br/>
        시민들의 재테크 관심이 크게 높아진 요즘 트렌드에 맞춰<br/>
        코로나 현황과 주식의 상관 관계 데이터를 이용자의 편의에 맞게 제공합니다.</p>
    </div>
{% endblock main-block %}