{% extends 'base.html' %} {% load static %} {% block head-block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/seoul.css' %}" />
<script type="text/javascript" src="{% static 'js/seoul.js' %}"></script>
{% endblock head-block %}

<!--요기 아래 블럭 속에 쓰면 메인 홈페이지에 바로 나옴-->
{% block seoul-block %}
<div>
  <div id="container">
    <div class="layout-inner layout-sub">
      <div class="inner inner7">
        <h3 class="h3-status">
          <span>발생동향</span>
        </h3>
        <div class="status status-2022">
          <div class="status-seoul">
            <h4>
              <strong>서울시</strong>
              <span>(2022.03.08.00시 기준)</span>
            </h4>
            <div class="cell-group first-cell">
              <table>
                <tbody>
                  <tr>
                    <th scope="col">사망</th>
                    <th scope="col">신규확진자</th>
                    <th scope="col">누적확진자</th>
                  </tr>
                  <tr class="odd">
                    {% for x in alldata2 %}
                    <td>{{x}}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="status-korea">
            <h4>
              <strong>대한민국</strong>
              <span>(2022.03.08.00시 기준)</span>
            </h4>
            <div class="cell-group first-cell">
              <table>
                <tbody>
                  <tr>
                    <th scope="col">사망</th>
                    <th scope="col">신규확진자</th>
                    <th scope="col">누적확진자</th>
                  </tr>
                  <tr class="odd">
                    {% for x in alldata %}
                    <td>{{x}}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--확진자 추이, 확진자 현황 div-->
        <div class="move-tab move-tab-type2 move-tab-occur">
          <ul>
            <li>
              <button type="button" onclick="showCont1()" class="btn-tab2 on">
                확진자
                <span>현황</span>
              </button>
            </li>
            <li>
              <button type="button" onclick="showCont3()" class="btn-tab3">
                확진자
                <span>추이</span>
              </button>
            </li>
          </ul>
        </div>
        <div id="move-cont1" class="move-cont" style="display: block">
          <h4>
            <span>자치구별 확진자 현황</span>
          </h4>
          <div></div>
          <div class="status-confirm" style="padding: 0 0 20px">
            <table>
              <caption>
                서울시 구별 확진자 현황
              </caption>
              <tbody>
                <tr>
                  <th scope="col">강남구</th>
                  <th scope="col">강동구</th>
                  <th scope="col">강북구</th>
                  <th scope="col">강서구</th>
                  <th scope="col">관악구</th>
                  <th scope="col">광진구</th>
                  <th scope="col">구로구</th>
                  <th scope="col">금천구</th>
                  <th scope="col">노원구</th>
                  <th scope="col">도봉구</th>
                  <th scope="col">동대문구</th>
                  <th scope="col">동작구</th>
                  <th scope="col">마포구</th>
                </tr>
                <tr class="odd">
                  {% for x in gudata %}
                  <td>{{x}}</td>
                  {% endfor %} {% comment %}
                  <td>{{x[1]}}</td>
                  {% endcomment %}
                </tr>
                <tr class="odd">
                  {% for daily in dailydata %}
                  <td class="today">+{{daily}}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th scope="col">서대문구</th>
                  <th scope="col">서초구</th>
                  <th scope="col">성동구</th>
                  <th scope="col">성북구</th>
                  <th scope="col">송파구</th>
                  <th scope="col">양천구</th>
                  <th scope="col">영등포구</th>
                  <th scope="col">용산구</th>
                  <th scope="col">은평구</th>
                  <th scope="col">종로구</th>
                  <th scope="col">중구</th>
                  <th scope="col">중랑구</th>
                </tr>
                <tr class="odd">
                  {% for x in gudata2 %}
                  <td>{{x}}</td>
                  {% endfor %}
                </tr>
                <tr class="odd">
                  {% for daily2 in dailydata2 %}
                  <td class="today">+{{daily2}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="move-cont3" class="move-cont" style="display: none">
          <h4>확진자 추이</h4>
          <!--서울시 누적 확진자 추이 그래프 끝-->
          <div
            class="status-confirm chart-wrap chart-wrap-day"
            style="margin: 40px 0 40px !important"
          >
            <h5 class="circle">
              자치구 <span class="point">일별 확진자 추이</span>
            </h5>
            <p class="txt-status" style="text-align: right">
              (2022.03.08.00시 기준)
            </p>
            <div class="chart-cont">
              <div class="container3 pc-block">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas
                  id="canvas3"
                  height="400"
                  class="chartjs-render-monitor"
                  style="display: block; width: 800px; height: 400px"
                  width="800"
                ></canvas>
              </div>
              <div class="container4 mobile">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas
                  id="canvas4"
                  height="0"
                  class="chartjs-render-monitor"
                  style="display: block; width: 0px; height: 0px"
                  width="0"
                ></canvas>
              </div>
            </div>
          </div>
          <div class="status-confirm chart-wrap chart-wrap-sdt"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock seoul-block %}
