{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글수정</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/write.css' %}">
  <script>
      function cancelBtn(){
           location.href="{% url 'board:bview' board.b_no %}"
      }
  </script>
</head>
<body>
<section>
    <h1>게시글수정</h1>
    <hr>

    <form action="{% url 'board:bmodifyOk' %}" name="modify" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
      <input type="hidden" name="b_no" value="{{board.b_no}}">
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>작성자</th>
          <td>
            <input type="text" name="id" value="{{board.member}}" readonly>
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="b_title" value="{{board.b_title}}">
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="b_content" cols="50" rows="10">{{board.b_content}}</textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="b_img" id="file">
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="submit" class="write">수정완료</button>
        <button type="button" class="cancel" onclick="cancelBtn()">취소</button>
      </div>
    </form>

  </section>

</body>
</html>